/* starter code used from Nile */

*{
  padding: 0;
  margin: 0;
  
}


h1 {
    font-family: 'Raleway', sans-serif;
     color:white;
     text-align: left;
     font-size: 40px;
     padding-top: 20px;
     padding-left: 100px;
     padding-bottom: 5px;
 }
 
 
 h2{
   font-family: 'Montserrat', sans-serif;
   color: rgb(73, 144, 202);
   padding: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   /*https://codepen.io/lizcoultersmith/pen/VwYwyKJ for border under writing*/
   border-bottom: 1px solid rgb(73, 144, 202);
 }

 h3{
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  text-align: left;
 }

 h4{
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
 }

 p{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
 }

nav { 
    font-family: 'Raleway', sans-serif;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 25px;
    padding-right: 25px;
    background: linear-gradient(rgb(172, 189, 214), rgb(162, 201, 233));
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
  }
  
  ul {
    overflow: auto;
    list-style-type: none;
  }
 
  li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
  
  li:last-child {
    border-right: none;
  }
 
  li a {
    text-decoration: none;
    color: white;
    /*change of font size*/
    font: 20px/1 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: rgba(37, 91, 161, 0.5);
  }

  li.active a {
    font-weight: bold;
    color: #333;
  }

  body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    
  }

  img {
    border-style: none;
    border-radius: 15%;
    align-items: center;
   }

  .one {
    grid-column: 1;
    grid-row: 1;
    padding: 5em;
    /*background-color: rgb(198, 229, 241);*/
    text-align: left;
    padding: 10px 50px 20px;
  }

  .two {
      grid-column: 3;
      grid-row: 1;
      padding: 10%;
     /* background-color: rgb(198, 229, 241);*/
      font-family: 'Raleway', sans-serif;
      text-align: left;
      padding: 10px 40px 20px;
  }

  .three{
    grid-column: 3;
    grid-row: 2;
    padding: 10%;
    /*background-color: rgb(198, 229, 241);*/
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 10px 40px 20px;
  
}

.container {
  width: 96rem;
  margin: 2rem auto;
}

.portfolio-item  {
  max-width: 100%;
  border-radius: 17px;
  /*box-shadow: 0 5px 20px rgba(117, 184, 223, 0.5);*/
  transition: all .3s;
  overflow: hidden;
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(150px, auto);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  filter: grayscale(1);
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.portfolio-item:hover {
 box-shadow: 0 5px 20px rgba(107, 154, 216, 0.5);
}

.text {
  color: white;
  font-size: 2.5em;
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
}


.content2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(100px, auto);
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  
}

/*img {
  border-style: none;
  border-radius: 15%;
  align-items: center;
 }*/

.contact {
  grid-column: 1;
  grid-row: 1;
  padding: 5em;
  /*background-color: rgb(198, 229, 241);*/
  text-align: left;
  padding: 10px 50px 20px;
}

.education {
    grid-column: 3;
    grid-row: 2;
    padding: 10%;
   /* background-color: rgb(198, 229, 241);*/
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 10px 50px 20px;
}


.experience{
  grid-column: 2;
  grid-row: 1;
  padding: 10%;
  /*background-color: rgb(198, 229, 241);*/
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding: 10px 50px 20px;

}

.skill{
  grid-column: 3;
  grid-row: 1;
  padding: 10%;
  /*background-color: rgb(198, 229, 241);*/
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding: 10px 50px 20px;

}

/* most of CSS used is taken from https://codepen.io/ssbalakumar/pen/uzDIA
this is only used as a guide for how to style and then changes have been made to fit my portfolio*/
.form {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	padding:25px;
	margin:50px 0;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
  font-size:15px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 20px;
	min-width: 100%;
  width: 100%;
  padding-top: 5px;
  
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}


#contact textarea {
	height:90px;
	max-width:100%;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(172, 189, 214);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:20px;
}

#contact button[type="submit"]:hover {
	background:rgb(162, 201, 233);
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }


footer{
    text-align: left;
    color: white;
    /*https://codepen.io/cbracco/pen/zekgx* code to make the footer stay at the bottom of the page */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 25px;
}



/*@media (max-width: 500px) {
  .portfolio-item,
  body{
      max-width: 30%;
      grid-column: 2;
      font-family: 'Raleway', sans-serif;
      text-align: left;
  }
  div.container, h1{
      text-align: left;
      margin-left: 2em;
  }
  div.text{
      font-size: 2.5em;
  }
}

@media (min-width: 400px) {
  .container{
      grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

}

/*@media (min-width: 400px) {
  .content1{
      
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      font-family: 'Raleway', sans-serif;
     text-align: left;
  }

  /*.two {
    grid-column: 1;
    grid-row: 2; */

  

