/* starter code used from Nile */

*{
  padding: 0;
  margin: 0;
}


h1 {
    font-family: 'Raleway', sans-serif;
     color:rgb(240, 245, 248);
     text-align: left;
     font-size: 40px;
     padding-top: 25px;
     padding-left: 25px;
     padding-bottom: 25px;
 }
 
 
 h2{
   font-family: 'Montserrat', sans-serif;
   color: white;
 }

 h3{
    font-family: 'Raleway', sans-serif;
    color: white;
 }

 p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
 }

 nav { 
    font-family: 'Raleway', sans-serif;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 25px;
    padding-right: 25px;
  }
  
  ul {
    overflow: auto;
    list-style-type: none;
  }
 
  li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
  
  li:last-child {
    border-right: none;
  }
 
  li a {
    text-decoration: none;
    color: white;
    /*change of font size*/
    font: 20px/1 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: rgba(37, 91, 161, 0.5);
  }

  li.active a {
    font-weight: bold;
    color: #333;
  }

  body{
    background: linear-gradient(rgb(172, 189, 214), rgb(203, 206, 206));
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content1 {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
  }


  img {
    border-style: none;
    border-radius: 15%;
    align-items: center;
   }

  .one {
    grid-column: 1;
    grid-row: 1;
    padding: 5em;
    /*background-color: rgb(198, 229, 241);*/
    text-align: center;
    padding: 10px 50px 20px;
  }

  .two {
      grid-column: 2;
      grid-row: 1 ;
      padding: 10%;
     /* background-color: rgb(198, 229, 241);*/
      font-family: 'Raleway', sans-serif;
      text-align: center;
      padding: padding: 10px 50px 20px;
  }

.three{
  grid-column: 2;
  grid-row: 2;
  padding: 10%;
  /*background-color: rgb(198, 229, 241);*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px 50px 20px;
  
}

.content2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, auto);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.portfolio{
  border-style: none;
  border-radius: 15%;
  align-items: center;
  position: relative;
  width: 100%;
}

.portfolio img{
  width: 100%;
  box-shadow: 0 5px 20px rgb(95, 96, 100);
}

footer{
    text-align: left;
    color:white;
    padding-left: 25px;
}